@import url("https://fonts.googleapis.com/css?family=Warnes&display=swap");

@keyframes flicker {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  45% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black;
  height: 100vh;
}

header {
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 90px;
  width: 100vw;
  background-color: black;
  gap: 10px;
  box-shadow: 0 0 3px black, 0 0 5px #0fa, 0 0 10px #0fa;
  margin: 0;
  font-family: "Warnes", cursive;
}

.effect1 {
  animation: flicker 1s infinite alternate;
}

.effect2 {
  animation: flicker 0.2s infinite alternate;
}

h1 {
  margin: 0;
  box-sizing: border-box;
  color: aliceblue;
  text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 12px #0fa, 0 0 18px #0fa;
  animation: flash 5s infinite alternate;
}

.sub {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(237, 192, 255),
    0 0 20px rgb(237, 192, 255);
}

input {
  width: 100%;
  text-align: center;
  border: aliceblue solid 2px;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(237, 192, 255);
  color: aliceblue;
  cursor: pointer;
  background-color: black;
  padding-right: 23px;
  box-sizing: border-box;
}

.SearchContainer {
  position: relative;
  max-width: 200px;
}
.iconSearch {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

main {
  background-color: black;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

@media only screen and (min-width: 600px) {
  main {
    flex-direction: row;
  }

  header {
    position: sticky;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
    gap: 5px;
  }
}
